.images {
    height: 200px;
    width: 300px;
    
}

.description {
    float: left;
}

h2 {
    color: black;
}

.info-section h1 {
   color: #ddd;
   font-size: 50px;
   font-style: bold;
   font-family: 'Cabin Sketch', cursive;
   /* background-color: ; */
   display: inline;
}

.navbar-nav {
    color: green;
}