@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    margin: 0;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1.5rem
}

/* Footer Section */

footer {
 display: grid;
 height: 5px;
 align-items: center;
 text-align: center;
 border-top: 4px solid black;
 background-image: url('./wooded.jpg');
 color:white;
 font-family: 'Ubuntu', sans-serif;
 text-transform: uppercase;
 text-align: center;
 text-decoration: none;
}

.footer-wrapper {
    min-height: 0%;
    position: relative;
    height: 5px;
}